    .website-logo
    {
        max-width: 100px;
        max-height: 100px;
        float: left;
        overflow: auto;
        padding: 1%;
    }
    .login-button
    {
        display: inline-block;
        float: right;
        text-decoration: none;
        
    }
    h1
    {
        display: inline-block;
        text-align: center;
    }
    .page-header
    {
        text-align: center;
        overflow: auto;
        padding: 0px;
        margin: 0px;
    }
    .btn-primary{border-radius: 0px;}
    .container
    {
        height: 250px;
    }
    .top-left-side, .top-right-side
    {
        height: 250px;
    }
    .top-right-side
    {
        border-style: solid;
        border-color: black;
    }
    .bottom-top{text-align: center;}
    .bottom-down
    {
        margin: 3%;
        display: inline-block;
        position: absolute;
    }
    .flex-item
    {
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .panel, .panel-heading
    {
        margin: 0px;
        border-radius: 0px;
        overflow: auto;
        /*position: absolute;*/
    }
    .panel-primary>.panel-heading, .panel-primary
    {
        background-color: #333;border-color: #333;
    }
    .panel-heading>a
    {
        text-decoration: none;
        color:#9d9d9d;
        float: right;
    }
a:hover{color: white;text-decoration: none;}
